<div>
  <ng-container *ngFor="let item of allQuestion">
    <div class="question-container" *ngIf="isAnswered === 'answered' ? item.answer: !item.answer">
      <div>
        <span>Question: {{ item.question }}</span>
      </div>
      <div class="mt-1">
        <span>From: {{ item.name }}</span>
      </div>
      <div class="mt-1" *ngIf="item.answer">
        <span>Answer: {{ item.answer }}</span>
      </div>
      <div class="mt-2">
        <span>Likes: {{ item?.likes }}</span>
      </div>
      <div class="mt-3 text-end">
        <div class="row">
          <div class="col align-self-end">
            <button class="btn-action" (click)="onLikes(item)">Like ❤︎</button>
          </div>
          <div class="col-auto align-self-end" *ngIf="!item.answer">
            <button class="btn-action" data-bs-toggle="modal" data-bs-target="#answerModal" (click)="selectedData(item)">Answer</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="modal fade" id="answerModal" tabindex="-1" aria-labelledby="answerModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">From: {{ selected?.name }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="answerFormGroup">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Question: {{ selected?.question }}</label>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Answer:</label>
            <textarea class="form-control" id="message-text" formControlName="answer"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!answerFormGroup.valid" (click)="onAnswer()">Submit</button>
      </div>
    </div>
  </div>
</div>