.question {
  &-container {
    box-shadow: 6px 9px 18px -4px rgba(0,0,0,0.64);
    padding: 24px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 24px;
  }
}

.btn-action {
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px;
}

.btn-action:hover {
  background-color: #fff;
  border: 1px solid lightgrey;
  padding: 7px;
}