<div>
  <div class="text-center mt-5">
    <span class="qna-title">Welcome To Question and Answer !</span> <br>
    <span class="qna-sub-title">In this website you can ask whatever you want.</span>
  </div>

  <div class="text-center mt-5">
    <button class="btn-add" data-bs-toggle="modal" data-bs-target="#addQuestion">Add Question +</button>
  </div>

  <div class="row m-0 text-center mt-5">
    <div class="col text-right">
      <div [ngClass]="selectedMenu ==='answered' ? 'nav-btn-selected' : 'nav-btn'" (click)="selectedMenu = 'answered'">
        Answered
      </div>
    </div>
    <div class="col text-right">
      <div [ngClass]="selectedMenu ==='question' ? 'nav-btn-selected' : 'nav-btn'" (click)="selectedMenu = 'question'">
       Question
      </div>
    </div>
  </div>

  <div class="mt-5 question-list-container">
    <app-question-list [allQuestion]="questionList" [isAnswered]="selectedMenu"></app-question-list>
  </div>
</div>

<div class="modal fade" id="addQuestion" tabindex="-1" aria-labelledby="addQuestion" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Question</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="questionFormGroup">
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Question:</label>
            <textarea class="form-control" id="message-text" formControlName="question"></textarea>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">From:</label>
            <input class="form-control" id="message-text" formControlName="name" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!questionFormGroup.valid" data-bs-dismiss="modal" (click)="addQuestion()">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="footer text-center">
  ©Enrico Darren
</div>