.qna {
  &-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 2
  }
  &-sub-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
  }
}

.btn-add {
  font-weight: bold;
  outline: none;
  border: none;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 6px 9px 18px -4px rgba(0,0,0,0.64);
}

.btn-add:hover {
  background-color: #fff;
}

.nav-btn {
  background-color: lightblue;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  cursor: pointer;
  &-selected {
    background-color: blue;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
  }
}

.nav-btn:hover {
  background-color: #fff;
  color: lightblue;
  border: 1px solid lightblue;
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  cursor: pointer;
}

.question-list-container {
  margin: 0 200px 0 200px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
}